/*
*************************************************
       Title: Stylesheet
       Use: To apply styles to each webpage
       Author: Lukas Veinbergs
       School/term: University of Missouri/Summer2020
       Developed: June 2020
       Tested: Daily in Chrome and Safari
       Validated: 07/02/2020
**************************************************
*/
h1{
    color:#000000;
    font-size: 24pt;
    font-family: sans-serif;
    border:thin solid #003300;
    background-color: #aaaaaa;
    text-align: center;
}
body{
    background-color: #dddddd;
    margin: 15px;
}
h3{
    color: black;
    font-size:16pt;
    margin-top: 3em;
    margin-left:1em;
}
p{
    color: #000000;
    font-size: 12pt;
    margin-top: 5em;
    margin-left: 1em;
}
main p::first-letter{
    font-size: 16pt;
}
h3~ul{
    color:black;
    list-style: square;
}
#current{
    color: darkred;
}
p~blockquote{
    color: darkred;
    font-weight: bold;
    margin-top: 5em;
}
footer{
    font-size: 10pt;
    border-top:thin solid black;
    clear: right;
    padding-top: 5px;
}
a:link{color: darkred;}
a:hover{color:red;}
a:focus{color:purple;}
a:visited{color:green}
a:active{color:aqua;}
a{text-decoration: none;font-size: 10pt;cursor: pointer;}
img{
    float: right;
    padding: 1em;
    margin-left: 5em;
    margin-right: 3em;
    margin-bottom: 3em;
}
